<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data DB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body style="background: lightgray">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">

               
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <div class="col-8" >
                                <h1 class="text-white bg-success" style="padding: 10px; border-radius: 10px;">GET DATA FROM DATABASE</h1>
                                                        
                        </div>
                                      
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">NO.</th>
                                <th scope="col">KIPAS</th>
                                <th scope="col">HUMIDIFIER</th>
                                <th scope="col">SUHU</th>
                                <th scope="col">KELEMBABAN</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i< data.length; i++) {%>  
                                        <tr>
                                            <th scope="row" class="text-center"><%= (i+1) %></th>
                                          
                                            <td><%= data[i].kipas%></td>
                                            <td><%= data[i].humidifier%></td>
                                            <td><%= data[i].suhu%></td>
                                            <td><%= data[i].kelembaban%></td>
                                          
                                        </tr>
                                  
                                    
                                <% } %>    
                            </tbody>
                        </table>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </script>

</body>
</html>